.navbar {
    background-color: #202e3c;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 35px;
}

.navbar-links {
    list-style: none;
    margin-right: 35px;
}

.navbar-links li {
    display: inline;
    font-weight: bold;
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #ddd;
}

.navbar-links .active {
    border-bottom: 2px solid white;
}
