.user-table-wrapper {
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; /* This ensures the border-radius is applied correctly */
}

.user-table {
    width: 100%; /* Adjusted to fill the wrapper */
    border-collapse: collapse;
    background-color: #fff;
}

.user-table th, .user-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
}

.user-table th {
    background-color: #9e9887; 
    color: white; 
    font-size: 16px; 
}

.user-table tbody tr:hover {
    background-color: #f1f1f1; 
}

.user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.user-table tbody tr:nth-child(even):hover {
    background-color: #f1f1f1; 
}

.user-table tbody td {
    color: #555; 
}

.user-table a {
    color: #9e9887; 
    text-decoration: none; 
}

.user-table a:hover {
    text-decoration: underline; 
}

.userlist-title-text, .admin-dashboard-title-text {
    display: block;
    width: fit-content;
    margin: 20px auto 30px; 
    font-size: 24px;
    color: #333; 
    text-align: center; 
}
