# Dart / Flutter specific
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/
**/ios/Flutter/.last_build_id
.pub-cache/
.pub/
/build/
lib/generated_plugin_registrant.dart

# Node.js specific
node_modules/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
coverage
*.lcov
.cache
.parcel-cache
.next
.nuxt
dist
.serverless/
.fusebox/
.dynamodb/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# General
*.log
*.pid
*.pid.lock
*.seed
*.class
*.swp
.DS_Store
.history
.svn/
*.tgz
.yarn-integrity

# IDE / Editor specific
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Miscellaneous
*.pyc
.atom/
.buildlog/
.temp
.cache
.docusaurus
.tern-port
.vscode-test
